.button {
  position: relative;
  padding: var(--padding-button);
  background-color: var(--color-white);
  border: var(--border);
  font-family: var(--font-family-accent);
  font-size: var(--font-size-accent);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--color-black);
}

.button::after {
  position: absolute;
  inset: 0;
  content: '';
  display: block;
  transform: translateX(-100%);
  background-color: var(--color-black);
  transition: 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0);
}

.button__text,
.button__icon {
  position: inherit;
  z-index: 1;
  color: var(--color-white);
  fill: currentColor;
  mix-blend-mode: difference;
}

.card__icon-button {
  padding: 0;
  border: var(--border);
  border-color: transparent;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-black);
}

.card__icon-button:hover .like-icon .core,
.card__icon-button:hover .like-icon .main-body {
  fill: var(--color-black);
}

.card__icon-button .like-icon.is-liked .core,
.card__icon-button .like-icon.is-liked .main-body {
  fill: var(--color-red);
}

.footer .button {
  margin: 0 auto;
  padding: var(--padding-more-button);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-more-button);
}

.footer .button__icon {
  inline-size: var(--inline-size-more-button-icon);
  aspect-ratio: 1 / 1;
}

@media (width >= 1024px) {
  .footer .button {
    flex-direction: row;
  }
}
