.button {
  background-color: transparent;
}

.button:not(.button--icon) {
  padding: var(--padding-button);
  font-family: var(--font-family-accent);
  font-size: var(--font-size-button);
}

.button--icon {
  border: none;
}

.more-button {
  padding: var(--padding-more-button);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-more-button);
}

.more-button__icon {
  inline-size: 2em;
  aspect-ratio: 1 / 1;
}
