.button {
  position: relative;
  padding: var(--padding-button);
  background-color: var(--color-white);
  border: var(--border);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--color-black);
}

.button::after {
  position: absolute;
  inset: 0;
  content: '';
  display: block;
  transform: translateX(-100%);
  background-color: var(--color-black);
  transition: 0.5s ease-in-out;
}

.button:hover {
  color: var(--color-white);
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: inherit;
  z-index: 1;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-accent);
  color: var(--color-white);
  mix-blend-mode: difference;
}

.card__icon-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.more-button.button {
  margin: 0 auto;
  padding: var(--padding-more-button);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-more-button);
}

.more-button__icon {
  inline-size: var(--inline-size-more-button-icon);
  aspect-ratio: 1 / 1;
}

@media (width >= 1024px) {
  .more-button.button {
    flex-direction: row;
  }
}
