.dialog[open] {
  max-inline-size: var(--max-inline-size-dialog);
  padding: var(--padding-dialog);
  display: flex;
  flex-direction: column;
  gap: var(--gap-dialog);
  font-family: var(--font-family-accent);
  font-size: var(--font-size-accent);
  line-height: var(--line-height-dialog);
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: var(--color-black);
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  gap: var(--gap-dialog-content);
  align-items: center;
}

.dialog__icon {
  min-inline-size: var(--inline-size-dialog-icon);
  max-inline-size: var(--inline-size-dialog-icon);
  aspect-ratio: 1 / 1;
  fill: var(--color-black);
}

.page:has(dialog[open]) {
  overflow-y: hidden;
}
