.header {
  padding-block: 120px;
  display: flex;
  justify-content: center;
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.header__title-main {
  font-size: clamp(3.0625rem, 2.71rem + 1.50vw, 4.0625rem);
}

.header__title-description {
  font-size: clamp(0.875rem, 0.68rem + 0.85vw, 1.4375rem);
}