/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: var(--padding-block-body);
  display: flex;
  flex-direction: column;
  gap: var(--gap-body);
  font-family: var(--font-family), sans-serif;
  font-size: 1.125rem;
  background-image: url(/images/background.png);
  background-size: auto 100vh;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
}

@media (width >= 1024px) {
  .page {
    align-items: center;
  }

  .container {
    inline-size: 48.6%;
  }
}