/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #f00;

  --inline-size-more-button-icon: 2em;
  --inline-size-dialog-icon: 2.4375rem;

  --max-inline-size-dialog: 90%;

  --padding-block-body: 6.25rem;
  --padding-block-header: 7.5rem;
  --padding-card-title: 0.28em 0.56em;
  --padding-card: 25px;
  --padding-button: 12.5px 37px;
  --padding-more-button: 1.07em 1.43em;
  --padding-dialog: 30px 40px;

  --gap-body: 100px;
  --gap-header-text: 20px;
  --gap-main: 50px;
  --gap-card: 25px;
  --gap-card-text: 27px; 
  --gap-card-buttons: 12px;
  --gap-more-button: 0.57em;
  --gap-dialog: 30px;
  --gap-dialog-content: 20px;

  --font-family: 'Inter Variable';
  --font-family-accent: 'Press Start 2P';

  --font-size: 1.125rem;
  --font-size-accent: 0.875rem;
  --font-size-header-title-main: clamp(3.0625rem, 2.71rem + 1.50vw, 4.0625rem);
  --font-size-header-title-description: clamp(0.875rem, 0.68rem + 0.85vw, 1.4375rem);

  --line-height-dialog: 1.5;

  --border-width: 2px;
  --border: var(--border-width) solid var(--color-black);
}

@media (width < 375px) {
  :root {
    --padding-block-header: 6.25rem;

    --gap-header-text: 1rem;

    --font-size-header-title-main: 2.5rem;
  }
}

@media (width >= 1024px) {
  :root {
    --inline-size-more-button-icon: 1.5em;

    --max-inline-size-dialog: 20rem;

    --padding-block-header: 8rem;
    --padding-dialog: 30px;
  }
}